automacoes/01_lead_inteligente.json
{
  "name": "HLJ Lead Inteligente v2_ELITE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-captado",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-lead",
      "name": "Webhook — Lead do Site",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "hlj-lead-captado"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://supabase.hljdev.com.br/rest/v1/config_sistema?id=eq.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" }
          ]
        },
        "options": {}
      },
      "id": "node-get-config",
      "name": "Get Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const lead = $(\"Webhook — Lead do Site\").first().json.body;\nconst config = $(\"Get Config\").first().json[0];\n\nlet score = 0;\nconst flags = [];\n\n// --- 1. Tem WhatsApp? (+20pts) ---\nif (lead.whatsapp && lead.whatsapp.length >= 10) {\n  score += 20;\n  flags.push('✅ WhatsApp informado');\n} else {\n  flags.push('⚠️ Sem WhatsApp');\n}\n\n// --- 2. Interesse de Alto Valor (+30pts) ---\nconst interessesQuentes = ['Sistema Web Personalizado', 'Site Institucional de Elite'];\nif (interessesQuentes.some(i => lead.interesse?.includes(i))) {\n  score += 30;\n  flags.push('🔥 Interesse Premium');\n} else {\n  score += 10;\n  flags.push('❄️ Interesse padrão');\n}\n\n// --- Classificação Final ---\nconst threshold = config.lead_score_threshold_alerta || 70;\nlet temperatura = '❄️ Frio';\nif (score >= threshold) temperatura = '🔥 Muito Quente';\nelse if (score >= threshold / 2) temperatura = '🌡️ Morno';\n\nreturn [{\n  json: {\n    ...lead,\n    lead_score: score,\n    lead_temperatura: temperatura,\n    lead_flags: flags,\n    status: 'novo',\n    threshold_alerta: threshold\n  }\n}];"
      },
      "id": "node-score-engine",
      "name": "HLJ Score Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase.hljdev.com.br/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-supabase-insert",
      "name": "Supabase — Salvar Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "const lead = $(\"HLJ Score Engine\").first().json;\nconst emoji = lead.lead_score >= lead.threshold_alerta ? '🔥' : '🌡️';\nconst mensagem = `${emoji} *NOVO LEAD — HLJ DEV*\\n👤 *${lead.nome}*\\n📱 ${lead.whatsapp}\\n🎯 *Interesse:* ${lead.interesse}\\n🧠 *Score:* ${lead.lead_score}/${lead.threshold_alerta}`;\nreturn [{ json: { mensagem } }];"
      },
      "id": "node-montar-alerta",
      "name": "Montar Mensagem WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hlj-evolution:8080/message/sendText/hlj-principal",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "hlj_ev_apikey_2026_secure_key" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "5548991013293" },
            { "name": "text", "value": "={{ $json.mensagem }}" }
          ]
        },
        "options": {}
      },
      "id": "node-whatsapp-alerta",
      "name": "WhatsApp — Alertar Henrique",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 480]
    }
  ],
  "connections": {
    "Webhook — Lead do Site": { "main": [[{ "node": "Get Config", "type": "main", "index": 0 }]] },
    "Get Config": { "main": [[{ "node": "HLJ Score Engine", "type": "main", "index": 0 }]] },
    "HLJ Score Engine": { "main": [[{ "node": "Supabase — Salvar Lead", "type": "main", "index": 0 }, { "node": "Montar Mensagem WhatsApp", "type": "main", "index": 0 }]] },
    "Montar Mensagem WhatsApp": { "main": [[{ "node": "WhatsApp — Alertar Henrique", "type": "main", "index": 0 }]] }
  }
}
