automacoes/04_instagram_dm_lead.json
{
  "name": "INSTAGRAM_DM_QUALIFIER_AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insta-lead-direct",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-post",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    senderId: body.entry?.[0]?.messaging?.[0]?.sender?.id,\n    text: body.entry?.[0]?.messaging?.[0]?.message?.text\n  }\n}];"
      },
      "id": "node-parser",
      "name": "Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://supabase.hljdev.com.br/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "nome", "value": "=\"IG: \" + $json.senderId" },
            { "name": "mensagem", "value": "=$json.text" },
            { "name": "origem", "value": "Instagram" }
          ]
        },
        "options": {}
      },
      "id": "node-supabase",
      "name": "Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    model: \"llama-3.3-70b-versatile\",\n    messages: [\n      {\n        role: \"system\",\n        content: \"Você é o Assistente Virtual da HLJ DEV. Qualifique o lead perguntando: Nome, E-mail, WhatsApp, CEP e Interesse.\"\n      },\n      {\n        role: \"user\",\n        content: $input.first().json.text\n      }\n    ]\n  }\n}];"
      },
      "id": "node-prep-groq",
      "name": "Prep Groq",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-groq",
      "name": "Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    recipient: { id: $(\"Parser\").first().json.senderId },\n    message: { text: $input.first().json.choices[0].message.content }\n  }\n}];"
      },
      "id": "node-prep-reply",
      "name": "Prep Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v25.0/me/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_FB_IG_TOKEN" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-reply",
      "name": "Instagram Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400]
    }
  ],
  "connections": {
    "Webhook POST": { "main": [[{ "node": "Parser", "type": "main", "index": 0 }]] },
    "Parser": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] },
    "Respond to Webhook": { "main": [[{ "node": "Supabase", "type": "main", "index": 0 }, { "node": "Prep Groq", "type": "main", "index": 0 }]] },
    "Prep Groq": { "main": [[{ "node": "Groq", "type": "main", "index": 0 }]] },
    "Groq": { "main": [[{ "node": "Prep Reply", "type": "main", "index": 0 }]] },
    "Prep Reply": { "main": [[{ "node": "Instagram Reply", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
