automacoes/05_proposta_ia.json
{
  "name": "HLJ Proposta IA Automática_ELITE",
  "nodes": [
    {
      "parameters": {
        "path": "proposta-ia",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-proposta",
      "name": "Webhook — Trigger Proposta IA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "hlj-proposta-ia"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://supabase.hljdev.com.br/rest/v1/config_sistema?id=eq.1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" }
          ]
        },
        "options": {}
      },
      "id": "node-get-config",
      "name": "Get Config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://supabase.hljdev.com.br/rest/v1/leads?id=eq.{{ $json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_KEY" }
          ]
        },
        "options": {}
      },
      "id": "node-buscar-lead",
      "name": "Supabase — Buscar Dados Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer YOUR_GROQ_API_KEY" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $(\"Get Config\").first().json[0].ai_model }}" },
            { "name": "messages", "value": "={{ JSON.stringify([{ role: 'system', content: 'Crie uma proposta profissional.' }, { role: 'user', content: 'Dados: ' + JSON.stringify($(\"Supabase — Buscar Dados Lead\").first().json[0]) + ' | Tabela de Preços: Site: ' + $(\"Get Config\").first().json[0].precos_min_site + ', Sistema: ' + $(\"Get Config\").first().json[0].precos_min_sistema }]) }}" }
          ]
        },
        "options": {}
      },
      "id": "node-groq-proposta",
      "name": "Groq — Gerar Proposta IA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Webhook — Trigger Proposta IA": { "main": [[{ "node": "Get Config", "type": "main", "index": 0 }]] },
    "Get Config": { "main": [[{ "node": "Supabase — Buscar Dados Lead", "type": "main", "index": 0 }, { "node": "Groq — Gerar Proposta IA", "type": "main", "index": 0 }]] }
  }
}
