automacoes/10_upsell_pos_compra.json
{
  "name": "HLJ Upsell Pós-Compra",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * *"
            }
          ]
        }
      },
      "id": "node-cron",
      "name": "Cron - Diario 10h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_HOST }}/rest/v1/vendas?status=eq.aprovado&created_at=gte.{{ $now.minus(2, 'day').toISO() }}&created_at=lte.{{ $now.minus(1, 'day').toISO() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc1NTI4NDk5LCJleHAiOjIwOTA4ODg0OTl9.3fu-B2l3sM9EvkOcNXLSb4UAWvQIbAFyec7gnQ1Ax5c"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc1NTI4NDk5LCJleHAiOjIwOTA4ODg0OTl9.3fu-B2l3sM9EvkOcNXLSb4UAWvQIbAFyec7gnQ1Ax5c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "node-vendas",
      "name": "Supabase - Vendas 48h Atras",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const vendas = $input.first().json;\nconst upsellMap = {\n  'Mega Pack de Prompts Elite': 'I.A. Masterclass Pro',\n  'I.A. Masterclass Pro': 'Acesso Premium Total',\n  'Acesso Premium Total': null\n};\nconst upsells = vendas.filter(v => !v.upsell_enviado).map(v => ({\n  ...v,\n  produto_recomendado: upsellMap[v.produto]\n})).filter(v => v.produto_recomendado);\nreturn upsells.map(v => ({ json: v }));"
      },
      "id": "node-filtrar",
      "name": "Filtrar Upsells",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/message/sendText/{{ $env.WHATSAPP_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.WHATSAPP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=55{{ $json.cliente_whatsapp?.replace(/\\D/g, '') }}"
            },
            {
              "name": "text",
              "value": "={{ $json.cliente_nome }}, vi que comprou {{ $json.produto }}! 🎉\n\nQue tal evoluir para {{ $json.produto_recomendado }} com 20% OFF?\n\nUse cupom: UPGRADE20\nValido por 48h! 🔥"
            }
          ]
        },
        "options": {}
      },
      "id": "node-upsell",
      "name": "WhatsApp - Oferta Upsell",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_HOST }}/rest/v1/vendas?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc1NTI4NDk5LCJleHAiOjIwOTA4ODg0OTl9.3fu-B2l3sM9EvkOcNXLSb4UAWvQIbAFyec7gnQ1Ax5c"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc1NTI4NDk5LCJleHAiOjIwOTA4ODg0OTl9.3fu-B2l3sM9EvkOcNXLSb4UAWvQIbAFyec7gnQ1Ax5c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "upsell_enviado",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "node-update",
      "name": "Supabase - Marcar Upsell Enviado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        300
      ]
    }
  ],
  "connections": {
    "Cron - Diario 10h": {
      "main": [
        [
          {
            "node": "Supabase - Vendas 48h Atras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Vendas 48h Atras": {
      "main": [
        [
          {
            "node": "Filtrar Upsells",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Upsells": {
      "main": [
        [
          {
            "node": "WhatsApp - Oferta Upsell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - Oferta Upsell": {
      "main": [
        [
          {
            "node": "Supabase - Marcar Upsell Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "HLJ DEV"
    },
    {
      "name": "Upsell"
    },
    {
      "name": "Vendas"
    }
  ],
  "triggerCount": 0,
  "versionId": "10-hlj-upsell-pos-compra"
}
