automacoes/11_recompra_ltv.json
{
  "name": "HLJ Recompra LTV",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 1 * *"
            }
          ]
        }
      },
      "id": "node-cron",
      "name": "Cron - Dia 1 Todo Mes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_HOST }}/rest/v1/vendas?status=eq.aprovado",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc1NTI4NDk5LCJleHAiOjIwOTA4ODg0OTl9.3fu-B2l3sM9EvkOcNXLSb4UAWvQIbAFyec7gnQ1Ax5c"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc1NTI4NDk5LCJleHAiOjIwOTA4ODg0OTl9.3fu-B2l3sM9EvkOcNXLSb4UAWvQIbAFyec7gnQ1Ax5c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "node-vendas",
      "name": "Supabase - Buscar Todas Vendas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const vendas = $input.first().json;\nconst agora = Date.now();\nconst clientesInativos = vendas.filter(v => {\n  const ultimaCompra = new Date(v.created_at).getTime();\n  const dias = (agora - ultimaCompra) / (1000 * 60 * 60 * 24);\n  return dias >= 60 && dias <= 90;\n});\nreturn clientesInativos.map(v => ({ json: v }));"
      },
      "id": "node-filtrar",
      "name": "Filtrar 60-90 Dias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/message/sendText/{{ $env.WHATSAPP_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.WHATSAPP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=55{{ $json.cliente_whatsapp?.replace(/\\D/g, '') }}"
            },
            {
              "name": "text",
              "value": "={{ $json.cliente_nome }}, faz tempo que nao nos falamos! 😊\n\nTemos NOVIDADES exclusivas para clientes VIP:\n\n🎁 Oferta especial so essa semana!\n\nBora conferir? Responda SIM!"
            }
          ]
        },
        "options": {}
      },
      "id": "node-oferta",
      "name": "WhatsApp - Oferta VIP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WHATSAPP_API_URL }}/message/sendText/{{ $env.WHATSAPP_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.WHATSAPP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $env.SEU_WHATSAPP }}"
            },
            {
              "name": "text",
              "value": "📊 LTV - {{ $items().length }} cliente(s) VIP contatado(s) para recompra."
            }
          ]
        },
        "options": {}
      },
      "id": "node-log",
      "name": "WhatsApp - Log Henrique",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        300
      ]
    }
  ],
  "connections": {
    "Cron - Dia 1 Todo Mes": {
      "main": [
        [
          {
            "node": "Supabase - Buscar Todas Vendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Buscar Todas Vendas": {
      "main": [
        [
          {
            "node": "Filtrar 60-90 Dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar 60-90 Dias": {
      "main": [
        [
          {
            "node": "WhatsApp - Oferta VIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp - Oferta VIP": {
      "main": [
        [
          {
            "node": "WhatsApp - Log Henrique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": [
    {
      "name": "HLJ DEV"
    },
    {
      "name": "LTV"
    },
    {
      "name": "Recompra"
    }
  ],
  "triggerCount": 0,
  "versionId": "11-hlj-recompra-ltv"
}
